# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.sqlite3

# Django
staticfiles/
media/

# Node
node_modules/
dist/

# Docker
*.log
docker-data/
rabbitmq-data/
postgres-data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
